<%- include("./../header", {title: title}) %>
<form class="row" action="#" method="POST">
    <% Object.keys(fields).forEach(function (fieldName) { %>
        <% if (fieldName === 'id') { %>
            <% return %>
        <% } %>
        <div class="col-2"><%= fieldName %></div>
        <div class="col-10">
            <input type="text" name="<%= fieldName %>" value="<%= fields[fieldName] %>"/>
        </div>
    <% }) %>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
<%- include("./../footer") %>