<%- include("./../header", {title: title}) %>
<form class="row" action="#" method="POST">
    <% Object.keys(item).forEach(function (key) { %>
        <% if (key === '_id') { %>
            <% return %>
        <% } %>
        <div class="col-2"><%= key %></div>
        <div class="col-10">
            <input type="text" name="<%= key %>" value="<%= item[key] %>"/>
        </div>
    <% }) %>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/books/view/<%= item._id %>" class="btn btn-danger">Undo</a>
    </div>
</form>
<%- include("./../footer") %>