<%- include("./../header", {title: title}) %>
<form class="row" method="POST" enctype="application/x-www-form-urlencoded">
    <% Object.values(fields).forEach(function (fieldName) { %>
        <% if (fieldName === '_id' || fieldName === 'session') return %>
        <label class="col-12"><%= fieldName %><br/>
            <% if (fieldName === 'password') { %>
                <input type="password" name="<%= fieldName %>"/>
            <% } else { %>
                <input type="text" name="<%= fieldName %>"/>
            <% } %>
        </label>
    <% }) %>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Signup</button>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <a href="/user"><<< Назад</a>
    </div>
</div>
<%- include("./../footer") %>